<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_uri>/csp_reporter.php</report_uri>
                </storefront>
                <admin>
                    <report_uri>/csp_reporter.php</report_uri>
                </admin>
            </mode>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
                <admin>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </admin>
            </policies>
        </csp>
        <experius_csp>
            <general>
                <add_all_storefront_urls>1</add_all_storefront_urls>
                <reporting_enabled>1</reporting_enabled>
            </general>
        </experius_csp>

    </default>
</config>
